venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/
.DS_Store

# Ignore datasets to prevent giant commits
data/*/raw/*.csv
data/*/raw/*.pcap
data/*/processed/*.parquet

# Ignore compiled models (but we will track plots and metrics)
artifacts/models/*.pkl


# Environment variables
.env
run_cascade.ps1

# Dissertation Metrics
extract_exhaustive_metrics.py
artifacts/metrics/exhaustive_summary.txt

